<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow-lg border-0 rounded-4 mb-4">
        <div class="card-body p-4">

          <h2 class="text-center mb-4 text-primary fw-bold">
            ImagemShare
          </h2>

          <div class="mb-3">
            <label class="form-label fw-semibold">Descrição</label>
            <input 
              type="text" 
              class="form-control form-control-lg rounded-3"
              placeholder="Digite uma descrição..."
              [(ngModel)]="newPost.text">
          </div>

          <div class="mb-4">
            <label class="form-label fw-semibold">Selecionar imagem</label>
            <input 
              type="file" 
              class="form-control rounded-3"
              (change)="onFileSelected($event)">
          </div>

          <div class="d-grid">
            <button 
              class="btn btn-primary btn-lg rounded-3 fw-semibold"
              (click)="savePost()">
              Salvar Postagem
            </button>
          </div>

        </div>
      </div>
     <div class="feed-container">
        @for (item of postFeed; track item.id) {
          <div class="feed-image" (click)="openModal(item)" >
            <div class="feed-card">
          <div class="feed-header">
            <i class="bi bi-person-circle"></i>
            <span>{{ item.user }}</span>
          </div>
          @if (item.imageData) {
            <div class="feed-image">
              <img [src]="item.imageUrl" alt="Imagem" />
            </div>
          }
          <div class="feed-body">
            <p>{{ item.text }}</p>
          </div>
        </div>
          </div>
      }
      </div>
</div>
    </div>
  </div>
@if (selectedPost) {
  <div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <i class="bi bi-person-circle"></i>
        <span>{{ selectedPost.user }}</span>
      </div>
      <div class="modal-image">
        <img [src]="selectedPost.imageUrl" />
      </div>
      <div class="modal-body">
        <p>{{ selectedPost.text }}</p>
      </div>
      <button (click)="deletePost(selectedPost.id)">Deletar</button>
      <button class="close-btn" (click)="closeModal()">×</button>
    </div>
  </div>
}